<nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <fa-icon [icon]="faHandsHelping"></fa-icon>
    <span class="p-3">Donate (Back Office Prototype)</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
</nav>
<div class="content">
    <router-outlet class="vh-100"></router-outlet>
</div>